.footer {
  color: white;
  height: 120px;
}

.content {
  height: 80px;
}

.copyRightContent {
  margin: auto;
}

.copyRight {
  display: flex;
  min-height: 40px;
  flex-direction: column;
  background: #db36a4;
}

.powerLogo {
  padding: 1vw 1vw 1vw 1vw;
}
