/* flexbox */
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* flexbox */
.main {
  display: flex;
  min-height: calc(100vh - 120px);
  flex-direction: column;
}

.footer {
  color: white;
  height: 120px;
}

.App {
  background: #db36a4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #db36a4, #f7ff00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #db36a4, #f7ff00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(20deg, #db36a4 0%, #f7ff00 100%);
  color: white;
}

.mainLogo {
  margin: 5vh;
}
